/*
 * Font Vazir Add
 */
@font-face {
    font-family: 'Vazir';
    src: url("../fonts/Vazirmatn-Medium.woff2") format('woff2');
}

body {
    margin: 0;
    padding:0;
    text-align: right;
    direction: rtl;
    font-family: Vazir !important; /* add font vazir to body */
}

.container{
    width: 1600px;
    height: auto;
    margin: auto;
}

/* card css  */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

/* shadow for hover card */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-text{
    padding:10px;
    margin: 10px 20px;
    height: 170px;
}
.link-card{
    text-decoration: none;
    color:white;
    background:blue;
    cursor: pointer;
    padding: 14px 7px 14px 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius:10px;
}
.card-image{
    height: 200px;
    object-fit: contain;
}

.banner{
    height: 400px;
    background-image:url("../images/mobile02-3-1200x900.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
}
.block{
    display: block;
}
.input{
    width: 100%;
    padding: 10px 6px;
    margin: 10px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns:
     repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));
    }

    .card {
        padding: 30px;
    }
}

@media screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));
    }

    .card {
        padding: 20px;
    }
}

/*
  * start menu
 */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.left {float: left;}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
 /*
  * end menu
  */
